	

	<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top ">
		<div class="container">
		<a class="navbar-brand" href="/">
			<img src="/img/Logo_Caime_Largo.JPG" alt="" width="280" height="70" class="d-inline-block align-text-top">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/"><h4 style="font-family: 'Open Sans', sans-serif;">Inicio</h4></a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="/#about"><h4 style="font-family: 'Open Sans', sans-serif;">Historia</h4> </a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="/#experience"><h4 style="font-family: 'Open Sans', sans-serif;">Experiencia</h4> </a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="/#projects"><h4 style="font-family: 'Open Sans', sans-serif;">Proyectos</h4> </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link " href="/#contact"><h4 style="font-family: 'Open Sans', sans-serif;">Contacto</h4> </a>
				</li>
				<!-- <li class="nav-item">
				  <a class="nav-link disabled">Disabled</a>
				</li> -->
			</ul>
		</div>
		</div>
	</nav>
